<% background_color ||= '#0E6EB8' %>

<div class="widget widget-list" style="background-color: <%= background_color %>">

  <h1 class="title"><%= title %></h1>

  <ul class="list-nostyle">
  </ul>

  <p class="updated-at">Last updated at <%= Time.now.strftime('%H:%M:%S') %></p>
</div>
