<% icon ||= '' %>

<div class="widget widget-number">

  <i class="<%= icon %>"></i>

  <h1 class="title"><%= title %></h1>

  <h2 class="value" data-value="0">0</h2>

  <p class="change-rate">
    <i data-bind-class="arrow" class="fa"></i><span>0%</span>
  </p>

  <p class="updated-at">Last updated at <%= Time.now.strftime('%H:%M:%S') %></p>
</div>
