<div class="grid-stack-item-content widget widget-temperature" data-min="<%= min %>" data-max="<%= max %>">
  <h1 class="title"><%= title %></h1>

  <h2 class="value">0</h2>

  <p class="updated-at">Last updated at <%= Time.now.strftime('%H:%M:%S') %></p>
</div>
