<% more_info ||= '' %>

<div class="grid-stack-item-content widget widget-text">
  <h1 class="title"><%= title %></h1>

  <h3 class="text"><%= text %></h3>

  <p class="more-info"><%= more_info %></p>

  <p class="updated-at">Last updated at <%= Time.now.strftime('%H:%M:%S') %></p>
</div>
