// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$text-color: #fff;

// ----------------------------------------------------------------------------
// Base styles
// ----------------------------------------------------------------------------
.grid-stack {
  width: 1240px;
  margin-left: auto;
  margin-right: auto;

  .grid-stack-item[data-gs-width="1"] {
    width: 25%;
  }
  .grid-stack-item[data-gs-width="2"] {
    width: 50%;
  }
  .grid-stack-item[data-gs-width="3"] {
    width: 75%;
  }
  .grid-stack-item[data-gs-width="4"] {
    width: 100%;
  }

  .grid-stack-item[data-gs-x="1"] {
    left: 25%;
  }
  .grid-stack-item[data-gs-x="2"] {
    left: 50%;
  }
  .grid-stack-item[data-gs-x="3"] {
    left: 75%;
  }
  .grid-stack-item[data-gs-x="4"] {
    left: 100%;
  }
}

.more-info {
  font-size: 15px;
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
}

.updated-at {
  font-size: 15px;
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
}
