// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #F2711C;
$text-color: #fff;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {
  background-color: $background-color;
  text-align: center;
  color: $text-color;

  h1 {
    margin-bottom: 12px;
    margin-top: 0px;
    text-align: center;
    font-size: 30px;
    position: absolute;
    bottom: 40%;
    left: 0;
    right: 0;
  }
  h2 {
    position: absolute;
    bottom: 35%;
    left: 0;
    right: 0;
    text-transform: uppercase;
    font-size: 65px;
    margin-bottom: 100px;
    color: $text-color;
  }
}
