// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #0E6EB8;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget-list {
  background-color: $background-color;
  vertical-align: top;
  text-align: center;

  .title {
    color: $title-color;
  }

  ol, ul {
    margin: 0 15px;
    text-align: left;
    padding: 0px;
    color: $label-color;
  }

  li {
    margin-bottom: 5px;
  }

  .list-nostyle {
    list-style: none;
    width: auto;
  }

  .label {
    font-size: 22px;
    color: $label-color;
  }

  .value {
    float: right;
    margin-left: 12px;
    font-size: 22px;
    font-weight: 600;
    color: $value-color;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }

  .more-info {
    color: $moreinfo-color;
  }

}
