// ----------------------------------------------------------------------------
// Mixins
// ----------------------------------------------------------------------------
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #000000;
$value-color: #FFFFFF;
$title-color: rgba(255, 255, 255, 0.7);
$updated-at-color: rgba(0, 0, 0, 0.3);

// ----------------------------------------------------------------------------
// Widget-temperature styles
// ----------------------------------------------------------------------------
.widget-temperature {
  background-color: $background-color;
  text-align: center;
  @include transition(background-color, 1s, linear);

  .title {
    color: $title-color;
  }

  .value {
    color: $value-color;
    font-size: 64px;
  }

  .updated-at {
    color: $updated-at-color;
  }
}

.temperature0 { background-color: #016936; }
.temperature1 { background-color: #B5CC18; }
.temperature2 { background-color: #FFD700; }
.temperature3 { background-color: #FE9A76; }
.temperature4 { background-color: #B03060; }
